@media (max-width: 640px) {
    .canvas-container {
        flex-direction: column;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(40px,1fr));
        grid-gap: 10px;
        width: 90%;
    }

    #my-canvas {
        margin-top:15px;
        margin-bottom: 30px;
    }

    .control-box {
        margin-top: 0;
    }

}

/* SMALL */

@media (min-width: 640px) {
    .main-layout {
        max-width: 600px;
        margin: auto;

    }
    .control-box {
        margin-top: 15px;
    }
}


/* MEDIUM */

@media (min-width: 880px) {
    .main-layout {
        max-width: 840px;
    }


}

/* LARGE */

@media (min-width: 1020px) {
    .main-layout {
        max-width: 980px;
    }
}