@media (max-width: 920px) {
    .canvas-container {
        flex-direction: column;
            gap: 40px
    }
}

/* SMALL */

@media (min-width: 700px) {
    .main-layout {
        max-width: 660px;
        margin: 0 auto;

    }
    .canvas-container {
        flex-direction: row;
            gap: 40px
    }
}


/* MEDIUM */

@media (min-width: 920px) {
    .main-layout {
        max-width: 860px;
    }
}

/* LARGE */

@media (min-width: 1120px) {
    .main-layout {
        max-width: 1060px;
    }
}