.editor .canvas-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content:  center;
    height: 40vh;
    width: 40vw;
}

.canvas-editor {
    margin-top:15px;

}
.meme-editor {
    margin: 0 auto;

    margin-bottom: 50px;
    display: none;
}

#my-canvas {
    border-radius: 20px;
}
.control-box {
    width: 400px;
    margin-top: 20px;
    display: grid;
    grid-template: repeat(5, 70px) / repeat(5, 50px);
    gap: 5px; 
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "txt-line txt-line txt-line txt-line txt-line"
    "switch-line-btn move-line-down-btn move-line-up-btn add-new-line-btn delete-line-btn"
    "increase-font-btn decrease-font-btn align-left-btn align-center-btn align-right-btn"
    "font-family font-family font-family txt-stroke-btn color-btn "
    /* "left-btn-carousel emojies emojies emojies right-btn-carousel" */
    "download-btn download-btn . share-btn share-btn";
}

.txt-line {
    grid-area: txt-line;
}   


.switch-line-btn {
    grid-area: switch-line-btn;
}

.add-new-line-btn {
    grid-area: add-new-line-btn;
}

.delete-line-btn {
    grid-area: delete-line-btn;
}

.increase-font-btn {
    grid-area: increase-font-btn;
}

.decrease-font-btn {
    grid-area: decrease-font-btn;
}

.align-left-btn {
    grid-area: align-left-btn;
}

.align-center-btn {
    grid-area: align-center-btn;
}

.align-right-btn {
    grid-area: align-right-btn;
}

.font-family {
    grid-area: font-family;
}

.color-btn {
    grid-area: color-btn;
}
.download-btn {
    grid-area: download-btn;
    text-decoration: none;
    color: var(--clr5);
    background-color: var(--clr1);
    width: 100px;
    height: 45px;
    border-radius: 20px;
}


.share-btn {
    grid-area: share-btn;
    background-color: var(--clr1);
    width: 100px;
    height: 45px;
    border-radius: 20px;

}

.txt-stroke-btn {
    grid-area: txt-stroke-btn;
}


/* .left-btn-carousel {
    grid-area: left-btn-carousel;
}
.right-btn-carousel {
    grid-area: right-btn-carousel;
}

.emojies { 
    grid-area: emojies;
    background-color: var(--clr3);
    border-radius: 10px;
    height: 65%;
    justify-self: center;
    font-size: 30px;
} */

input {
    border-radius: 10px;
    border: none;
    height: 70%;
}

button {
    font-family: Montserrat;
    background-color: var(--clr3);
    color: var(--clr3);
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 45px;
}

button img{
    height: 30px;
    width: 30px;
}

select.font-family {
    border-radius: 10px;
    border: none;
    height: 70%;
}

input[type=color] {
opacity: 0;
width: 100%;
height: 100%;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.download-btn a {
    color: var(--clr3);
    text-decoration: none;
}
