.editor .canvas-container {
    /* background-color: black; */
    height: 40vh;
    width: 40vw;
}

.meme-editor {
    margin-bottom: 50px;
    display: none;
}

.editor-tools {
    width: 400px;
    height: 400px;
}

button {
    background-color: unset;
    border-radius: 10px;
}
button img{
    height: 40px;
    width: 40px;
}

/* input[type=color] {
    display: none;
} */

