.header-container {
    background-color: var(--clr1);
}

.main-header {
    min-height: 40px;
}

.main-header .logo img{
    height: 25px;
}

.main-header .main-nav > *:not(:last-child) {
margin-inline-end: 25px;
}

.main-header .main-nav li {
    height: 40px;
    width: 60px;
    color: var(--clr3);
}

.main-header .main-nav li:hover {
    cursor: pointer;
    color: var(--clr5);
}

.main-header .main-nav a:active {
    color: var(--clr5);
} 

.btn-toggle-menu::before {
    content: '☰';
}

body.menu-open .btn-toggle-menu::before {
    content: '✖';
}

