.header-container {
    height: 40px;
    background-color: var(--clr1);
    margin-bottom: 20px;
}

.maim-header .main-nav {
    padding: 0.3rem;

}
.header-container .main-header .logo img {
    height: 25px;
}

.main-header .main-nav li {
    color: var(--clr3);
    font-size: 17px;
    cursor: pointer;
    padding-left: 20px
}

.main-header .main-nav li:hover {
    color: var(--clr5);
}
