.main-screen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.450);
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

body.menu-open .main-screen{
    opacity: 1;
    pointer-events: unset;
}

body.modal-open .main-screen {
    opacity: 1;
    pointer-events: unset;
}